*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.login{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-body{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo{
  text-align: center;
  color: black;
  font-size: 10px;
  width: 100%;
}
.logo img{
  background-color: #005596;
  padding: 10px;
  border-radius: 50%;
}
.data{
  margin-top: 10px;
  display: flex;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(91, 90, 90, 0.75);
  flex-direction: column; 
  border: solid 1px #cecece;
  margin-bottom: 2rem;
  padding: 40px;
  justify-content: center;
  width: 100%;
}
.card{
  padding: 2rem;
}
.fields{
width: 100%;
}
.field, .field p{
  margin-bottom: 5px;
}

.input-login{
width: 100%;
}

.footer-login{
width: 100%;
margin-top: 10px;
text-align: right;
}